@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Welcome</h1>
    </div>
    <img class="mainImage img" src="~/images/Pizzas/Create.png" width="600"/>
</div>
