@page
@model Razor_PizzaWeb.Pages.PizzaListModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Great Selection Of Pizzas</h1>
        <h4>Try Pizza Builder or choose one</h4>
    </div>

    <div class="container" >
        <div class="row">
            <div class="col-12 mb-3 mt-3">
                <div class="w-100 row greyBackground">
                    <div class=col-4>
                        <img src="~/images/Pizzas/Create.png" class="float-start img w-100"/>
                    </div>
                    <div class=col-8 alig-items-center>
                        <div class="align-middle customPizzaText">
                            <h2 style="text-align: left;">Create your own Pizza!</h2>
                            <p style="text-align: left;">Make your own pizza with Pizza Maker!</p>
                            <a class="btn btn-primary mt-1" style="float: left;" asp-area="" asp-page="Forms/CustomPizza">Try now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row">
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Margerita.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Margerita</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil</p>
                    <a href="#" class="btn btn-primary mt-1">Order</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Pepperoni.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Pepperoni</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil, Salami Pepperoni</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Mushroom.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Mushroom</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil, Salami Pepperoni</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Hawaiian.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Hawaiian</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil, Anannas</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Seafood.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Sea Food</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/images/Pizzas/Vegetarian.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Vegetarion</h5>
                    <p class="card-text">Tomato Souce, Cheese, Basil</p>
                    <a href="#" class="btn btn-primary">Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
